<div class="container p-2">
    <div class="form-control"> <input type="text">

        <table class="table table-bordered">
            <thead>
                <tr class="bg-warning">
                    <th>ID</th>
                    <th>user Id</th>
                    <th>Title</th>
                    <!-- <th>Body</th> -->

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of details">
                    <td>{{row.userId}}</td>
                    <td>{{row.id}}</td>
                    <td>{{row.title}}</td>
                    <!-- <td>{{row.body}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>